@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --light-grey: #f5f5f5;
    --dark-grey: #707070;
    --dark-blue: #303c6c;
    --orange: #f4976c;
}



/* Estilos globales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: var(--dark-blue);
    background-color: var(--light-grey);
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 1;
}

.btn {
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    transition: ease-in-out .2s;
}

.btn-d-block {
    display: block;
}

.btn-naranja {
    background-color: var(--orange);
}

.btn-naranja:hover {
    background-color: #db7a4d;
}
/* /Estilos globales */

/* Página de Login */
.login-container {
    padding: 50px 10px;
}

/* Página de registro */
.page-bg-image {
    background-image: url('/img/home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.page-bg-image::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.register-container {
    padding: 50px 10px;
}

.register-page-title {
    text-align: center;
    margin: 0 0 40px 0;
}

.register-page-title h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.register-page-title h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.register-page-main form input {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.register-page-main form input:last-of-type {
    margin-bottom: 0;
}

.register-page-main form input::placeholder {
    color: #acacac;
}

.register-page-main form input[type="submit"] {
    color: #fff;
    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: 600;
    transition: ease-in-out .3s;
}

.register-page-main form input[type="submit"]:hover {
    transform: scale(1.1);
}

.register-page-main .register-separator {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.register-page-main a.social-ntw-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: var(--dark-blue);
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    position: relative;
    transition: ease-in-out .3s;
}

.register-page-main a.social-ntw-btn:hover {
    transform: scale(1.1);
}

.register-page-main a.social-ntw-btn i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.register-page-main a.social-ntw-btn span {
    font-weight: 600;
}

.register-page-main .social-methods-register h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0 0 0;
}

.register-page-main .social-methods-register h3 a {
    color: var(--dark-blue);
    font-weight: 600;
}
/* /Página de registro */


/* Página de carrito */
h1.cart-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.cart-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid var(--dark-grey);
    border-radius: 15px;
    padding: 20px 20px;
}

.foods-plans-container {
    border-bottom: 3px solid var(--dark-blue);
}

.food-plan-container {
    border-bottom: 1px solid var(--dark-blue);
    margin-bottom: 40px;
}

.food-plan-container:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.food-plan-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.food-plan-container img {
    display: block;
    border-radius: 15px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

.foods-details-container {
    font-weight: normal;
    color: var(--dark-grey);
    margin-bottom: 30px;
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: 30px;
}

.foods-details-container:last-of-type {
    border: none;
    margin-bottom: 0;
}

.food-details h3 {
    font-size: 18px;
    margin: 15px 0;
    color: var(--dark-blue);
}

.cantidad-form {
    margin: 30px;
}

.cantidad-form input[type="number"] {
    margin-left: 15px;
    padding: 3px 10px;
    width: 50px;
    height: 30px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
}

.food-details a {
    display: block;
    color: var(--dark-grey);
    text-decoration: none;
    margin: 10px 0;
}

.food-details a:hover {
    text-decoration: underline;
}

.food-details a i {
    margin-right: 5px;
    color: var(--dark-blue);
}

.food-price {
    margin-left: auto;
}

.food-price p {
    text-align: right;
    margin: 5px 0;
    color: var(--dark-blue);
}

.food-price p span {
    font-weight: bold;
    margin-left: 10px;
}

.cart-details-container h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

h3.selected-plans {
    font-size: 16px;
    color: var(--dark-grey);
}

.cart-details-plans {
    border-bottom: 1px solid var(--dark-grey);
}

.cart-details-plans p {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.cart-details-plans p span {
    float: right;
}

.cart-details-total {
    font-size: 20px;
    font-weight: bold;
}

.cart-details-total p span {
    float: right;
}

.cart-details-total .p-subtotal {
    text-align: right;
}

.cart-details-total .p-subtotal span {
    float: none;
    margin-left: 30px;
}
/* /Página de carrito */

@media (min-width: 768px) { /* FROM TABLET */
    /* Carrito */
    .cart-content {
        flex-direction: row;
    }
    
    .foods-plans-container {
        flex-basis: 60%;
        border-right: 1px solid var(--dark-grey);
        border-bottom: none;
        padding-right: 30px;
    }

    .cart-details-container {
        flex-basis: 40%;
        padding-left: 30px;
    }

    .cart-details-plans p {
        font-size: 16px;
    }
    /* /Carrito */
}

@media (min-width: 1024px) { /* FROM DESKTOP */
    /* Página de registro */
    .register-container {
        display: flex;
    }

    .register-page-title {
        flex-basis: 60%;
    }

    .register-page-main {
        flex-basis: 40%;
    }

    .register-page-title h1,
    .register-page-title h2 {
        max-width: 60%;
        letter-spacing: 1px;
    }
    /* /Página de registro */

    /* Carrito */
    .foods-plans-container {
        height: 80vh;
        overflow-y: scroll;
    }

    .food-plan-container {
        display: flex;
    }

    .food-plan-header {
        margin-right: 25px;
    }

    .food-details {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .food-details h3 {
        flex-basis: 100%;
    }

    .foods-info-container {
        width: 100%;
    }

    .food-plan-header h2 {
        margin: 15px 0;
        font-size: 18px;
    }

    .food-plan-container img {
        display: inline-block;
        width: 200px;
        height: 120px;
        object-fit: cover;
    }

    .food-price p {
        border-bottom: 1px solid var(--dark-grey);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .food-price p:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .cart-details-plans p {
        font-size: 20px;
    }

    .cart-details-container h2 {
        text-align: left;
    }

    /* /Carrito */
}