@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* ESTILOS GLOBALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --light-grey: #f5f5f5;
    --dark-grey: #707070;
    --dark-blue: #303c6c;
    --orange: #f4976c;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: var(--dark-blue);
    background-color: var(--light-grey);
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 1;
}

.btn {
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    transition: ease-in-out .2s;
}

.btn-d-block {
    display: block;
}

.btn-naranja {
    background-color: var(--orange);
}

.btn-naranja:hover {
    background-color: #db7a4d;
}
/* ESTILOS GLOBALES */


/* HOMEPAGE Y PLANES */
 .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    padding-bottom: 100px;
}
.slogan li {
    margin-bottom: 10px;
}

.btn-home {
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    transition: ease-in-out .2s;
    margin: 5% 10%;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.btn-d-block {
    display: flex;
}

.btn-naranja {
    background-color: var(--orange);
}

.btn-naranja:hover {
    background-color: #db7a4d;
}

.background {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    background: url(/img/home.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    
}
section {
    margin-bottom: 30px;
}

section ul li.title {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

section ul li.description {
    font-size: 11px;
    color: var(--dark-blue);
    text-align: center;
    padding: 0 12px;
}

.planes {
    display: flex;
}
.home-planes {
    width: 100%;
    margin: 30px 0;
}
.lista-planes {
    flex-wrap: wrap;
    margin: 30px 100px;
}

.plan img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.plan {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 20px 34px -20px var(--dark-grey);
    justify-content: center;
    align-content: center;
}

.plan-home {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 5%;
}

.plan-full {
    width: 40%;
    margin: 5%;
}

.plan-home:first-child {
    margin-left: 10px;
}

.plan-home:last-child {
    margin-right: 10px;
}

.center {
    flex-grow: 2;
}

.button {
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--orange);
    border: 3px solid var(--orange);
    transition: ease-in-out .2s;
    
}

.view-all {
    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: #db7a4d;
    color: white;
    border: 3px solid #db7a4d;
}

.instructive {
    display: flex;
    margin: 30px;
}

.instructive ul.steps {
    margin-left: 15%;
    width: 25%;
    justify-content: center;
}

.instructive ul.steps:first-child {
    margin-left: 0;
}

.instructive ul li img {
    width: 100%;
}
/* HOMEPAGE Y PLANES */


/* REGISTER */
.page-bg-image {
    background-image: url('../img/home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.page-bg-image::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.register-container {
    padding: 50px 10px;
}

.register-page-title {
    text-align: center;
    margin: 0 0 40px 0;
}

.register-page-title h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.register-page-title h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.register-page-main form input {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.register-page-main form input:last-of-type {
    margin-bottom: 0;
}

.register-page-main form input::placeholder {
    color: #acacac;
}

.register-page-main form input[type="submit"] {
    color: #fff;
    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: 600;
    transition: ease-in-out .3s;
}

.register-page-main form input[type="submit"]:hover {
    transform: scale(1.1);
}

.register-page-main .register-separator {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.register-page-main a.social-ntw-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: var(--dark-blue);
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    position: relative;
    transition: ease-in-out .3s;
}

.register-page-main a.social-ntw-btn:hover {
    transform: scale(1.1);
}

.register-page-main a.social-ntw-btn i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.register-page-main a.social-ntw-btn span {
    font-weight: 600;
}

.register-page-main .social-methods-register h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0 0 0;
}

.register-page-main .social-methods-register h3 a {
    color: var(--dark-blue);
    font-weight: 600;
}
/* REGISTER */

/* LOGIN */

.overlay{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}
.login-container{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-popup{
    background:white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0,3);
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;

}
.login-popup .btn-cerrar-popUp{
    font-size: 20px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: var(--dark-grey);
    transition: .3s ease all ;
}

.login-popup .btn-cerrar-popUp :hover{
    color: #303c6c;
}

.login-popup h2 {
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
}

.login-popup form input {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.login-popup form input::placeholder {
    color: #acacac;
}

.login-popup form input[type="submit"] {
    display: inline-block;
}

.login-popup form label input[type="checkbox"]{
    display: inline-block;
    display: none;
}

.login-popup form label{
    display: inline-block;
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}

.login-popup form label:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: none;
    border: 2px solid  #e0dede;
    position: absolute;
    left: 0px;
}

.login-popup form label input[type="checkbox"]:checked + label{
    background: black;
}
.login-popup form input[type="submit"] {
    color: #fff;
    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: 600;
    transition: ease-in-out .3s;
}

.login-popup form input[type="submit"]:hover {
    transform: scale(1.1);
}

.login-popup .login-separator {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.login-popup a.social-ntw-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: var(--dark-blue);
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    position: relative;
    transition: ease-in-out .3s;
}

.login-popup a.social-ntw-btn:hover {
    transform: scale(1.1);
}

.login-popup a.social-ntw-btn i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.login-popup a.social-ntw-btn span {
    font-weight: 600;
}

.login-popup h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0 0 0;
}

.login-popup .social-methods-login h3 a {
    color: var(--dark-blue);
    font-weight: 600;
}
/* LOGIN */


/* CARRITO */
h1.cart-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.cart-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid var(--dark-grey);
    border-radius: 15px;
    padding: 20px 20px;
    margin-bottom: 40px;
}

.foods-plans-container {
    border-bottom: 3px solid var(--dark-blue);
}

.food-plan-container {
    border-bottom: 1px solid var(--dark-blue);
    margin-bottom: 40px;
}

.food-plan-container:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.food-plan-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.food-plan-container img {
    display: block;
    border-radius: 15px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

.foods-details-container {
    font-weight: normal;
    color: var(--dark-grey);
    margin-bottom: 30px;
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: 30px;
}

.foods-details-container:last-of-type {
    border: none;
    margin-bottom: 0;
}

.food-details h3 {
    font-size: 18px;
    margin: 15px 0;
    color: var(--dark-blue);
}

.cantidad-form {
    margin: 30px;
}

.cantidad-form input[type="number"] {
    margin-left: 15px;
    padding: 3px 10px;
    width: 50px;
    height: 30px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
}

.food-details a {
    display: block;
    color: var(--dark-grey);
    text-decoration: none;
    margin: 10px 0;
}

.food-details a:hover {
    text-decoration: underline;
}

.food-details a i {
    margin-right: 5px;
    color: var(--dark-blue);
}

.food-price {
    margin-left: auto;
}

.food-price p {
    text-align: right;
    margin: 5px 0;
    color: var(--dark-blue);
}

.food-price p span {
    font-weight: bold;
    margin-left: 10px;
}

.cart-details-container h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

h3.selected-plans {
    font-size: 16px;
    color: var(--dark-grey);
}

.cart-details-plans {
    border-bottom: 1px solid var(--dark-grey);
}

.cart-details-plans p {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.cart-details-plans p span {
    float: right;
}

.cart-details-total {
    font-size: 20px;
    font-weight: bold;
}

.cart-details-total p span {
    float: right;
}

.cart-details-total .p-subtotal {
    text-align: right;
}

.cart-details-total .p-subtotal span {
    float: none;
    margin-left: 30px;
}
/* CARRITO */


/* HEADER */
.header-nav{
    background-color: transparent;
    padding: 5px 40px;
    border-bottom: 0.5px solid rgba(15, 12, 72, 0.297);
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-nav ul li {
    padding: 15px 0;
    cursor: pointer;
}

.header-nav ul li.items {
    
    width: auto;
    margin: 0 16px;
    text-align: center;
    text-transform: uppercase;
    order: 3;
}

.header-nav ul li.logo {
    flex: 1;
    color: var(--dark-blue);
    cursor: default;
    user-select: none;
}

#idLogo{
    color: var(--dark-blue);
    user-select: none;
    font-size: 25px;
    width: 30%;
    height: 30%;
}

#idLogoFooter{
    width: 100%;
    height: 100%;
    
}
.header-nav ul li.user {
    width: auto;
    margin: 0 5px;
    order: 4;
}

.header-nav ul li a {
    color: var(--dark-blue);
    font-size: 15px;
    text-decoration: none;
}

.header-nav ul li i {
    font-size: 23px;
}

.header-nav ul li.menu-btn {
    display: none;
}

.header-nav ul li.menu-btn.hide i:before{
    content: '\f00d';
}
/* HEADER */


/* FOOTER */
footer {
    background-color: white;
    color: var(--dark-blue);
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-footer div ul {
    list-style-type: none;
}

.container-footer div ul li a {
    text-decoration: none;
    color: var(--dark-blue);
}

.column1-footer {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column1-footer ul {
    display: flex;
    
}
.column1-footer h1 {
    font-size: 45px;
}

.column1-footer ul li {
    padding: 23px;
}

.fab.fa-facebook-square {
    color: #3b5998;
}
.fab.fa-twitter-square {
    color: #00acee;
}
.fab.fa-instagram {
    color: #dd2a7b;
}
.fab.fa-whatsapp-square {
    color: #4fce5d;
}

.column2-footer {
    flex: 2;
}

.column2-footer ul li.items {
    width: auto;
    font-size: 10px;
    margin: 0 70px;
    text-align: center;
    text-transform: uppercase;
    order: 3;
    padding-top: 20px;
}

.column3-footer {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;   
}
.column3-footer h6 {
    margin-bottom: 10px;
}
.newsletter {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.newsletter .btn {
    padding: 5px 10px;
    border-radius: 10px;
    width: 20%;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    transition: ease-in-out .2s;
}

.newsletter .email {
    width: 70%;
}

.newsletter .btn-d-block {
    flex-direction: row;
}

.newsletter .btn-naranja {
    background-color: var(--orange);
}

.btn-naranja:hover {
    background-color: #db7a4d;
}
/* FOOTER */



@media (max-width: 425px) {
    
    /* HOMEPAGE Y PLANES */
    .background {
        height: 325px;
    }

    .slogan {
        justify-content: center;
        margin: auto;
        padding-bottom: 212px;
    }

    section ul li.title {
        margin-top: 20px;
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 17px;
        text-align: center;
    }
    
    .background ul li.description {
        display: none;
    }

    .btn-home {
        font-size: 10px;
        margin-top: 10px;
    }

    .planes {
        flex-direction: column;
        margin: 30px 10%;
        justify-content: center;
        align-items: center;
    }

    .home-planes{
        margin: 30px 0;
    }

    .plan {
        border-radius: 20px;
        box-shadow: 0px 20px 34px -20px var(--dark-grey);
        justify-content: center;
        align-content: center;
        margin-bottom: 15px;
    }

    .plan-home {
        width: 80%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .plan-full {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .plan:first-child,
    .plan:last-child {
        margin-left: 0;
    }

    .button {
        font-size: 10px;
    }

    .instructive {
        flex-direction: column;
    }

    .instructive ul.steps {
        width: 70%;
        margin: 10px 15%;
    }

    .instructive ul.steps:first-child {
        margin-left: 15%;
    }

    /* HOMEPAGE Y PLANES */
}

@media (max-width: 768px) {
    
    /* HEADER */
    .header-nav {
        padding: 5px 30px;
        border: none;
    }

    .header-nav ul li.items {
        width: 100%;
        display: none;
    }

    .header-nav ul li.items.show {
        display: block;
    }

    .header-nav ul li.menu-btn {
        display: block;
    }

    .header-nav ul li.user {
        margin: 0 16px;
        display: none;
    }

    .header-nav ul li.user.show {
        display: block;
    }
    /* HEADER */


    /* FOOTER */
    .container-footer {
        flex-direction: column;
    }
    /* FOOTER */

    /* HOMEPAGE */
    .slogan {
        justify-content: center;
        margin: auto;
        padding-bottom: 350px;
    }

    section ul li.title {
        font-size: 15px;
    }

    section ul li.description {
        font-size: 8px;
    }

    section ul li a {
        font-size: 15px;
    }

    section main div ul li a {
        margin: 5% 15%;
        width: 70%;
    }

    section main div ul li.title {
        font-size: 12px;
    }

    section main div ul li.description {
        font-size: 8px;
    }

    section main div ul li a {
        font-size: 10px;
    }
    
    section .view-all a {
        font-size: 10px;
    }
    /* HOMEPAGE */
}

@media (min-width: 768px) { /* FROM TABLET */
    /* Carrito */
    .cart-content {
        flex-direction: row;
    }
    
    .foods-plans-container {
        flex-basis: 60%;
        border-right: 1px solid var(--dark-grey);
        border-bottom: none;
        padding-right: 30px;
    }

    .cart-details-container {
        flex-basis: 40%;
        padding-left: 30px;
    }

    .cart-details-plans p {
        font-size: 16px;
    }
    /* /Carrito */
}

@media (min-width: 1024px) { /* FROM DESKTOP */
    /* Página de registro */
    .register-container {
        display: flex;
    }

    .register-page-title {
        flex-basis: 60%;
    }

    .register-page-main {
        flex-basis: 40%;
    } 

    .register-page-title h1,
    .register-page-title h2 {
        max-width: 60%;
        letter-spacing: 1px;
    }
    /* /Página de registro */

    /* Página de Login */
    .login-container {
        display: flex;
    }
    .login-page-main {
        flex-basis: 40%;
    }

    /*Fin del Login*/

    /* Carrito */
    .foods-plans-container {
        height: 80vh;
        overflow-y: scroll;
    }

    .food-plan-container {
        display: flex;
    }

    .food-plan-header {
        margin-right: 25px;
    }

    .food-details {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .food-details h3 {
        flex-basis: 100%;
    }

    .foods-info-container {
        width: 100%;
    }

    .food-plan-header h2 {
        margin: 15px 0;
        font-size: 18px;
    }

    .food-plan-container img {
        display: inline-block;
        width: 200px;
        height: 120px;
        object-fit: cover;
    }

    .food-price p {
        border-bottom: 1px solid var(--dark-grey);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .food-price p:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .cart-details-plans p {
        font-size: 20px;
    }

    .cart-details-container h2 {
        text-align: left;
    }

    /* /Carrito */
}