    <footer class="footer">
        <div class="container-footer">
            <div class="column1-footer">
                <a href="/" ><img id= "idLogoFooter"  src="/img/Logo01.svg" alt="OneBigBox"> </a> 
                <ul class="redes">
                    <li><a href="https://www.facebook.com/BigBox-106679291091844"><i class="fab fa-facebook-square"></i></a>
                    <li><a href="#"></a><i class="fab fa-twitter-square"></i></li>
                    <li><a href="#"></a><i class="fab fa-instagram"></i></li>
                    <li><a href="#"></a><i class="fab fa-whatsapp-square"></i></li>
                </ul>
            </div>
            <div class="column2-footer">
                <ul>
                    <li class="items"><a href="/planes">Planes</a></li>
                    <li class="items"><a href="/recetas">Recetas</a></li>
                    <li class="items"><a href="/howtouse">Como funciona?</a></li>
                    <li class="items"><a href="/nosotros">Nosotros</a></li>
                </ul>
            </div>
            <div class="column3-footer">
                <h6>Suscríbete a nuestro newsletter</h6>
                <div class="newsletter">
                    <input class="email" type="email" name="email" value="Email">
                    <button class="btn btn-d-block btn-naranja" type="button">OK</button>
                </div>
            </div>
        </div>
    </footer>