<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://kit.fontawesome.com/ee0a2c8855.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/footer.css">
    <title>Header</title>
</head>
<body>
    <header>
        <nav>
                        
            <ul class="menu">
                <li class="logo"><h1>OneBigBox</h1></li> 
                <li class="items"><a href="#">Planes</a></li>
                <li class="items"><a href="#">Recetas</a></li>
                <li class="items"><a href="#">Como funciona?</a></li>
                <li class="items"><a href="#">Nosotros</a></li>
                <li class="user"><a href="#"><i class="far fa-heart"></i></a></li>
                <li class="user"><a href="#"><i class="far fa-user"></i></a></li>
                <li class="user"><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
        <script>
            $(document).ready(function(){
                $('.btn').click(function(){
                    $('.items').toggleClass('show');
                    $('.user').toggleClass('show');
                    $('ul li').toggleClass('hide');
                })
            })
        </script>
    </header>
</body>
</html>