<header>
    <nav class="header-nav">           
        <ul class="menu">
            <li class="logo"> <a href="/" ><img id= "idLogo"  src="/img/Logo01.svg" alt="OneBigBox"> </a> 
            <li class="items"><a href="/admin/planes">Planes</a></li>
            <li class="items"><a href="/admin/recetas">Recetas</a></li>            
        </ul>
    </nav>
</header>