<header>
    <nav class="header-nav">           
        <ul class="menu">
            <li class="logo"> <a href="/" ><img id= "idLogo"  src="/img/Logo01.svg" alt="OneBigBox"> </a>
            <!-- /admin/users-->
            <li class="items"><a href="/admin/users">Users</a></li>
            <li class="items"><a href="/admin/planes">Planes</a></li>
            <li class="items"><a href="/admin/recetas">Recetas</a></li>
            <li class="user"><a href="/"><i class="fas fa-home"></i></a></li>
            <li class="user"><a href="/user/logout"><i class="fas fa-sign-out-alt"></i></a></li>
  
            <li class="menu-btn"><a href="#"><i class="fas fa-bars"></i></a></li>           
        </ul>
    </nav>
    <script>
        $(document).ready(function(){
            $('.menu-btn').click(function(){
                $('.items').toggleClass('show');
                $('.user').toggleClass('show');
                $('ul li').toggleClass('hide');
            })
        })
    </script>
</header>