<!DOCTYPE html>
<html lang="es">
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Alta Plan'}) %>
<body>
      <!-- Header -->
	<%- include('../partials/header-admin') %>
	<!-- /Header -->
    <main class="admin-planes-alta">
        <!-- Agregar despues en el FORM para la imagen:  -->
        <form  action="./abm-planes-alta" method="post" enctype="multipart/form-data" >
            <input class="titulo" type="" name="plan" id="plan" placeholder="Nombre del Plan" >
            <textarea class="description" type="" name="description" rows="10" cols="50" id="description" placeholder="Descripcion"></textarea>
            <div class="file-image">
                <i class="fas fa-upload"></i>
                <p>Cargar Imagen</p>
                <input type="file" name="image" id="image">
            </div>
            <input class="btn-home btn-d-block btn-naranja" type="submit" value="Crear Plan">
        </form>

    </main>

</body>
</html>

