<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ee0a2c8855.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/footer.css">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
        <div class="container-body">
            <div class="column1">
                <h1>OneBigBox</h1>
                <ul class="redes">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></>
                    <li><a href="#"></a><i class="fab fa-twitter-square"></i></li>
                    <li><a href="#"></a><i class="fab fa-instagram"></i></li>
                    <li><a href="#"></a><i class="fab fa-whatsapp-square"></i></li>
                </ul>
            </div>
            <div class="column2">
                <ul>
                    <li class="items"><a href="#">Planes</a></li>
                    <li class="items"><a href="#">Recetas</a></li>
                    <li class="items"><a href="#">Como funciona?</a></li>
                    <li class="items"><a href="#">Nosotros</a></li>
                </ul>
            </div>
            <div class="column3">
                <h6>Suscríbete a nuestro newsletter</h6>
                <div class="newsletter">
                    <input class="email" type="email" name="email">
                    <button class="btn btn-d-block btn-naranja" type="button">OK</button>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>