<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito de Compras'}) %>

<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <main class="container">
        <h1 class="cart-title">Carrito de compras</h1>
        <div class="cart-content">
            <div class="foods-plans-container">
                <div class="food-plan-container">
                    <div class="food-plan-header">
                        <h2>Plan Vegetariano</h2>
                        <img src="/img/vegetariano_3.jpg" alt="plan-vegetariano">
                    </div>
                    <div class="foods-info-container">
                        <div class="foods-details-container">
                            <div class="food-details">
                                <h3>Gnochi con pesto de albahaca</h3>
                                <div class="food-product-options">
                                    <a href="#"><i class="fas fa-times"></i>Eliminar producto</a>
                                    <a href="#"><i class="far fa-heart"></i>Agregar a favoritos</a>
                                </div>
                                <form action="" method="get" class="cantidad-form">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" name="cantidad" id="cantidad" min="1" max="10" value="1">
                                </form>
                                <div class="food-price">
                                    <p>Precio unitario <span>$ 200</span></p>
                                    <p>Subtotal <span>$ 400</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="foods-details-container">
                            <div class="food-details">
                                <h3>Ensalada de garbanzos con queso y menta</h3>
                                <div class="food-product-options">
                                    <a href="#"><i class="fas fa-times"></i>Eliminar producto</a>
                                    <a href="#"><i class="far fa-heart"></i>Agregar a favoritos</a>                                    
                                </div>
                                <form action="" method="get" class="cantidad-form">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" name="cantidad" id="cantidad" min="1" max="10" value="1">
                                </form>
                                <div class="food-price">
                                    <p>Precio unitario <span>$ 200</span></p>
                                    <p>Subtotal <span>$ 400</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="foods-details-container">
                            <div class="food-details">
                                <h3>Ensalada de pollo con nueces</h3>
                                <div class="food-product-options">
                                    <a href="#"><i class="fas fa-times"></i>Eliminar producto</a>
                                    <a href="#"><i class="far fa-heart"></i>Agregar a favoritos</a>                                    
                                </div>
                                <form action="" method="get" class="cantidad-form">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" name="cantidad" id="cantidad" min="1" max="10" value="1">
                                </form>
                                <div class="food-price">
                                    <p>Precio unitario <span>$ 200</span></p>
                                    <p>Subtotal <span>$ 400</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="food-plan-container">
                    <div class="food-plan-header">
                        <h2>Plan Equilibrado</h2>
                        <img src="/img/equilibrado_1.jpg" alt="plan-vegetariano">
                    </div>
                    <div class="foods-info-container">
                        <div class="foods-details-container">
                            <div class="food-details">
                                <h3>Milanesas de pollo con puré de zapallo</h3>
                                <div class="food-product-options">
                                    <a href="#"><i class="fas fa-times"></i>Eliminar producto</a>
                                    <a href="#"><i class="far fa-heart"></i>Agregar a favoritos</a>                                    
                                </div>
                                <form action="" method="get" class="cantidad-form">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" name="cantidad" id="cantidad" min="1" max="10" value="1">
                                </form>
                                <div class="food-price">
                                    <p>Precio unitario <span>$ 200</span></p>
                                    <p>Subtotal <span>$ 400</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="foods-details-container">
                            <div class="food-details">
                                <h3>Wok de pollo con arroz yamani</h3>
                                <div class="food-product-options">
                                    <a href="#"><i class="fas fa-times"></i>Eliminar producto</a>
                                    <a href="#"><i class="far fa-heart"></i>Agregar a favoritos</a>                                    
                                </div>
                                <form action="" method="get" class="cantidad-form">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" name="cantidad" id="cantidad" min="1" max="10" value="1">
                                </form>
                                <div class="food-price">
                                    <p>Precio unitario <span>$ 200</span></p>
                                    <p>Subtotal <span>$ 400</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="foods-details-container">
                            <div class="food-details">
                                <h3>Spaghettis con salsa de tomate</h3>
                                <div class="food-product-options">
                                    <a href="#"><i class="fas fa-times"></i>Eliminar producto</a>
                                    <a href="#"><i class="far fa-heart"></i>Agregar a favoritos</a>
                                </div>
                                <form action="" method="get" class="cantidad-form">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" name="cantidad" id="cantidad" min="1" max="10" value="1">
                                </form>
                                <div class="food-price">
                                    <p>Precio unitario <span>$ 200</span></p>
                                    <p>Subtotal <span>$ 400</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-details-container">
                <h2>Detalle</h2>
                <div class="cart-details">
                    <div class="cart-details-plans">
                        <h3 class="selected-plans">Planes seleccionados</h3>
                        <p>Plan Vegetariano <span>$ 1200</span></p>
                        <p>Plan Equilibrado <span>$ 3600</span></p>
                    </div>
                    <div class="cart-details-total">
                        <p class="p-subtotal">Subtotal <span>$ 4800</span></p>
                        <p>Envío <span>$ 0</span></p>
                        <p>Total <span>$ 4800</span></p>
                    </div>
                    <a href="#" class="btn btn-d-block btn-naranja">Comprar</a>
                </div>            
            </div>
        </div>
    </main>
<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</body>
</html>