
<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', { title: 'Error 404 - OneBigBox' }) %>
<body>

    <% if (admin) { %>
        <%- include('partials/header-admin') %> 
    <% } else { %>
        <%- include('partials/header') %> 
    <% } %>

    <% if (error.status === 404) { %>
        <h1 style="margin: 80px auto;
        text-align: center;">¡Oops! Hubo un error al intentar acceder al sitio</h1>

        <img src="/img/error/404_error.svg" alt="Error 404" style="max-width: 600px;
        margin: 80px auto;
        display: block;
        padding: 0 30px;">
    <% } else { %>
        <h1 style="margin: 80px auto;
        text-align: center;">¡Oops! Se ha producido un error en el servidor</h1>

        <img src="/img/error/generic_errors.svg" alt="Server error" style="max-width: 600px;
        margin: 80px auto;
        display: block;
        padding: 0 30px;">
    <% } %>

    <%- include('partials/footer') %>

</body>
</html>