<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ee0a2c8855.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/home.css">
    <title>Home - OneBigBox</title>
</head>
<body class="homepage">
    <section class="background">
        <ul class="slogan">
            <li class="title">COMIDA SANA <br> PARA TODA LA SEMANA</li>
            <li class="description">Sin moverte de tu casa, recibí los mejores <b>ingredientes</b> y <b>recetas</b><br> para cocinar como un chef profesional</li>
            <li><a href="#" class="btn btn-d-block btn-naranja">¡Ingresá!</a></li>
        </ul>
    </section>
        
    <section class="nuestros-planes">
        <ul>
            <li class="title">NUESTRO PLANES</li>
            <li class="description">Nuestros planes incluyen recetas creadas por nuestros chefs pensadas para tu salud</li>
        </ul>
        <main class="planes home-planes">
            <div class="plan plan-home">
                <ul>
                    <li><img src="/public/img/planes/plan-familiar.png" alt="plan familiar"></li>
                    <li class="title">PLAN FAMILIAR</li>
                    <li class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab iure architecto nesciunt atque quo?</li>
                    <li><a href="#" class="btn btn-d-block btn-naranja">SELECCIONAR PLAN</a></li>
                </ul>
            </div>
            <div class="plan center plan-home">
                <ul>
                    <li><img src="/public/img/planes/plan-equilibrado.jpg" alt="plan equilibrado"></li>
                    <li class="title">PLAN EQUILIBRADO</li>
                    <li class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab iure architecto nesciunt atque quo?</li>
                    <li><a href="#" class="btn btn-d-block btn-naranja">SELECCIONAR PLAN</a></li>
                </ul>
            </div>
            <div class="plan plan-home">
                <ul>
                    <li><img src="/public/img/planes/plan-vegetariano.png" alt="plan vegetariano"></li>
                    <li class="title">PLAN VEGETARIANO</li>
                    <li class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab iure architecto nesciunt atque quo?</li>
                    <li><a href="#" class="btn btn-d-block btn-naranja">SELECCIONAR PLAN</a></li>
                </ul>
            </div>    
        </main>
        <div class="view-all"><a href="#" class="button">VER TODOS</a></div>
    </section>

    <section class="instructive">
        <ul class="steps">
            <li class="title">1. ELEGÍ TU PLAN</li>
            <li><img src="/public/img/instructivo/click.png" alt="click"></li>
            <li class="description">Escoge el plan que más encaja contigo y selecciona recetas saludables nuevas creadas por nuestros chefs cada semana</li>
        </ul>
        <ul class="steps">
            <li class="title">2. RECIBÍ TU BOX</li>
            <li><img src="/public/img/instructivo/box.png" alt="box"></li>
            <li class="description">Te enviamos tus recetas a casa en una caja con todos los ingredientes frescos necesarios y las instrucciones para cada plato.</li>
        </ul>
        <ul class="steps">
            <li class="title">3. SEGUÍ LA RECETA</li>
            <li><img src="/public/img/instructivo/recipe-book.png" alt="recipe-book"></li>
            <li class="description">Disfrutá cocinando tus recetas con nuestro sencillo paso a paso que te explicará con lujo de detalle como prepararlas.</li>
        </ul>
    </section>
</body>
</html>