<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'HomePage'}) %>

<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <div class="page-bg-image">
        <div class="container register-container">
            <div class="register-page-title">
                <h1>Crear cuenta</h1>
                <h2>Puedes crear una cuenta con Google, Facebook o directamente con tus datos.</h2>
            </div>
            <main class="register-page-main">
                <form action="" method="post">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                    <input type="email" name="email" id="email" placeholder="Correo electrónico">
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <input type="submit" value="Registrarse">
                </form>
                <section class="social-methods-register">
                    <span class="register-separator">o</span>
                    <a href="#" class="social-ntw-btn"><i class="fab fa-google"></i>Registrarse con <span>Google</span></a>
                    <a href="#" class="social-ntw-btn"><i class="fab fa-facebook-square"></i>Registrarse con <span>Facebook</span></a>
                    <h3>¿Ya tenés cuenta? <a href="#">Ingrese aquí</a></h3>
                </section>
            </main>
        </div>
    </div>
<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</body>
</html>