<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ee0a2c8855.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/app.css">
    <title>Login</title>
</head>
<body>
    <div class = "container login-container">
        <main class="register-page-main">
        <div class="register-page-title">
              <h2>INICIAR SESIÓN PARA CONTINUAR</h2>
        </div>
            <form accept="#" method="dialog">
                <imput type="text" name="email" id = "email" placeholder="Email"> </imput>
                <imput type="password" name = "password"id="password" placeholder ="Contraseña"></imput>
                <imput type="checkbox" name = "Recordarme">Recordarme</imput>
                <input type="submit" value="INICIAR SESIÓN">
            </form>
            <section class="social-methods-register">
                <span class="register-separator">o</span>
                <a href="#" class="social-ntw-btn"><i class="fab fa-google"></i>Registrarse con <span>Google</span></a>
                <a href="#" class="social-ntw-btn"><i class="fab fa-facebook-square"></i>Registrarse con <span>Facebook</span></a>
                <h3>¿No tenés cuenta? <a href="/user/register">Registrate</a></h3>
            </section>
        </main>
    </div>
    
</body>
</html>