<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Registro Nuevo Usuario'}) %>

<body>
    <!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->
    <div class="page-bg-image">
        <div class="container register-container">
            <div class="register-page-title">
                <h1>INICIAR SESIÓN</h1>
       
            </div>
            <main class="register-page-main">
                <form action="" method="post">
                    <div class="contenedor-imputs">
                        <input type="text" name="email" id = "email" placeholder="Email"> </imput>
                        <input type="password" name = "password"id="password" placeholder ="Contraseña"></imput>
                        <label id="recordarEmail"> <input type="checkbox" name = "Recordarme" id="recordarEmail"></imput> Recordarme</label>
                    </div>
                    <div>
                        <input type="submit" value="INICIAR SESIÓN">
                    </div>
                </form>
                <section class="social-methods-login">
                    <span class="register-separator">o</span>
                    <a href="#" class="social-ntw-btn"><i class="fab fa-google"></i>Registrarse con <span>Google</span></a>
                    <a href="#" class="social-ntw-btn"><i class="fab fa-facebook-square"></i>Registrarse con <span>Facebook</span></a>
                </section>
                <div>
                    <h3>¿No tenés cuenta? <a href="/user/register">Registrate</a></h3>
                </div>
            </main>
        </div>
    </div>
<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->
</body>
</html>